[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
urx = "*"
numpy = "*"
requests = "*"
opencv-contrib-python = "*"

[dev-packages]

[requires]
python_version = "3.9"
